<div class="mb-32">
  <h1 class="text-center text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl lg:text-7xl">
    Integración completa con
    <br class="hidden md:block">
    <span class="text-teal-600">Slack</span>
  </h1>
  <div class="mt-6 md:mt-20 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 md:mr-8">
      <%= image_tag "frontend/feedback-slack.png", class: "rounded-lg", alt: "Recibe feedback desde Slack" %>
    </div>
    <p class="md:w-1/2 text-base text-left text-gray-500 sm:text-xl md:text-2xl">
    Happy Mood Score se integra completamente con Slack para que tus usuarios no tengan que dejar Slack para dar feedback o agradecer el esfuerzo de un compañero.
    </p>
  </div>
</div>
