<div class="py-12 bg-white">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">1</div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Habilita la integración con Slack
          </h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
          Desde el area de administración de tu empresa podrás habilitar la integración con Slack.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">2</div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Añade el id de Slack de cada empleado
          </h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
          Escribe el id de Slack de cada emplado para que podamos enlazar su cuenta de HMS y de Slack.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">3</div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">
            Ya puedes utilizar HMS desde Slack
          </h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
          Ya lo tienes! Ahora tus empleados pueden enviar feedback, agradecer a sus compañeros y guardar comentarios para sus 1on1.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
