<div class="bg-white">
  <div
    class="max-w-screen-xl mx-auto pt-12 pb-16 sm:pt-16 sm:pb-20 px-4 sm:px-6
    lg:pt-20 lg:pb-28 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900">
      Preguntas frecuentes
    </h2>
    <div class="mt-6 border-t-2 border-gray-100 pt-10">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              ¿Tiene algún límite el plan gratuito?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                No, el plan gratuito no tiene ningún límite ni de tiempo de uso
                ni de número de empleados. Hay empresas que ya llevan más de 6
                años con nosotros, desde el comienzo y totalmente gratis.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Cuando un producto es gratis es porque yo soy el producto.
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Eso dicen, pero en Happy Mood Score nuestros clientes no son un
                producto. Nosotros no vendemos, cedemos ni compartimos tus datos
                a terceras empresas. Tus datos son tuyos. Y si decides cancelar
                tu cuenta, tus datos se borran. TODOS.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              ¿Puedo implementar mi propio sistema de gamificación?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Happy Mood Score incluye un potente motor de gamificación que te
                permite integrarlo y adaptarlo a tus propios procesos, como el onboarding o
                la mejora contínua. Si eres patrocinador te ayudamos a adaptarlo a tus necesidades.
              </p>
            </dd>
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              ¿Qué es Happy Mood Score?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Es una colección de herramientas para la gestión del talento. Está diseñada especialmente para directores de equipos ágiles, team leads y departamentos de recursos humanos.
                LLevamos más de 7 años ayudando a las empresas a retener el talento y a detectar problemas con nuestro sistema de feedback simple, poco intrusivo y eficaz.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              ¿En que consiste la métrica HMS?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Es una métrica desarrollada por nosotros y que varía entre -10 y
                10. Indicadores negativos muestran personas que no están felices
                desarrollando sus trabajos. Indicadores cercanos a cero muestran
                gente que está contenta y desarrollando el trabajo que
                esperaban. Indicadores mayores de 5 muestran empleados cuyo
                trabajo está superando sus expectativas.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              ¿Puedo contactar con vosotros?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Por supuesto, estaremos encantados de ayudarte. Si tienes alguna
                duda o comentario escribenos a info [arroba] happymoodscore.com.
              </p>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
