<div class="py-12 bg-white mt-32 lg:mt-64">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2
        class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
        text-pink-600 sm:text-4xl sm:leading-10 md:text-5xl lg:text-6xl">
        Tómale el pulso a tu empresa.
      </h2>
      <p class="mt-8 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        Mantener a un equipo motivado y contento no es fácil, por eso Happy Mood
        Score te ayuda a simplificar esa tarea y hace tu vida más cómoda. Evita
        perder talento.
      </p>
    </div>
    <div class="py-12 bg-white">
      <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
        <div class="lg:grid lg:grid-cols-3 lg:gap-8">
          <div>
            <div
              class="flex items-center justify-center h-12 w-12 rounded-md
              bg-pink-600 text-white">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>

            </div>
            <div class="mt-5">
              <h5 class="text-lg leading-6 font-medium text-gray-900">
                Mantén a tu equipo feliz e involucrado
              </h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Nuestro sistema de solicitud de feedback es muy sencillo y poco
                intrusivo lo que hace que los porcentajes de respuesta sean muy
                altos. Indicadores clave: KPIs por empresa, equipo y empleado.
              </p>
            </div>
          </div>
          <div class="mt-10 lg:mt-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-pink-600 text-white">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11" />
              </svg>
            </div>
            <div class="mt-5">
              <h5 class="text-lg leading-6 font-medium text-gray-900">
                Reconocimiento entre compañeros
              </h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                El esfuerzo y el compañerismo ya no pasarán desapercibidos. Los
                propios empleados pueden reconocer la ayuda de sus colegas.
                Además dispones de un avanzado sistema de gamificación.
              </p>
            </div>
          </div>
          <div class="mt-10 lg:mt-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-pink-600 text-white">
              <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                <path d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
              </svg>
            </div>
            <div class="mt-5">
              <h5 class="text-lg leading-6 font-medium text-gray-900">
                Toma decisiones basadas en datos
              </h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Seguro que tienes muchas ideas de las que te gustaría conocer la
                opinión de usuarios, clientes, otros departamentos... Las
                campañas te permiten preguntar lo que quieras a quien quieras.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
