<div class="max-w-screen-xl mx-auto px-4 py-12 sm:px-6 lg:py-16 lg:px-8 mt-32">
  <div class="px-6 py-6 bg-white rounded-lg">
    <div
      class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex
      lg:items-center lg:justify-between">
      <h2
        class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900
        sm:text-4xl sm:leading-10">
        ¿Te unes al feedback inteligente?
        <br />
        <span class="text-teal-600">
          Incrementa la motivación de tu equipo.
        </span>
      </h2>
      <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <a
            href="https://happymoodscore.com/signup?lang=es"
            class="inline-flex items-center justify-center px-5 py-3 border
            border-transparent text-base leading-6 font-medium rounded-md
            text-white bg-teal-600 hover:bg-teal-500 focus:outline-none
            focus:shadow-outline transition duration-150 ease-in-out">
            Crea tu cuenta gratuita
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
