<section aria-labelledby="offices-heading">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h2 id="offices-heading" class="text-3xl font-extrabold text-warm-gray-900">Open Source</h2>
    <p class="mt-6 text-lg text-warm-gray-500 max-w-3xl">
    Happy Mood Score es Open Source.  Esto significa que tienes acceso a todo el código fuente. Puedes descargarlo, instalarlo en los servidores de tu empresa, modificarlo a tu gusto o ayudarnos a mejorarlo.
    </p>
  </div>
</section>
