<h2
  class="mt-32 max-w-2xl text-center text-xl md:text-2xl leading-9 font-medium
  text-gray-900 lg:mx-auto lg:mt-8">
  &ldquo;La mayoría de programas de obtención de feedback se abandonan a los
  pocos meses porque son intrusivos y complicados de usar. Nadie quiere pasar 20
  minutos cada semana rellenando un tedioso formulario.&rdquo;
</h2>
