<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a
          href="/es/caracteristicas"
          title="Todo lo que Happy Mood Score puede ofrecerte."
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Características
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/es/slack"
          title="HMS y Slack son la pareja perfecta."
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Integración con Slack
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/es/precio"
          title="Plan gratuito y plan a medida, tu eliges."
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Precio
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/es/condiciones-uso"
          title="Condiciones de uso de Happy Mood Score"
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Condiciones de uso
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/es/politica-privacidad"
          title="Nuestra política de privacidad"
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Política de privacidad
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="https://happymoodscore.docs.apiary.io"
          title="Cómo funciona el A.P.I. de Happy Mood Score"
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          A.P.I.
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="https://happymoodscore.com/login?lang=es"
          title="Accede a tu cuenta de Happy Mood Score"
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Accede a tu cuenta
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="/"
          title="Happy Mood Score in english"
          class="text-base leading-6 text-gray-500 hover:text-gray-900">
          English version
        </a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center">
      <a
        href="mailto:info@happymoodscore.com"
        title="Contacta con nosotros"
        class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Happy Mood Score twitter account</span>
        <svg
          class="h-6 w-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0
            00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </a>
      <a
        href="https://twitter.com/happymoodscore"
        title="Feedback and employee engagement news. Follow us."
        class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Happy Mood Score twitter account</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178
            0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646
            4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0
            00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27
